*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: white;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

h2 {
  color: $color-primary;
}

h3 {
  color: $color-secondary;
}
