*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-image: asset_url("test.jpg");
  z-index: -1;
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}

h2 {
  color: $color-primary;
}

h3 {
  color: $color-secondary;
}

.font-weight-bold {
  font-weight: 700;
}
