<div class="home-banner">
  <h1>Louer votre Valentin</h1>
  <p>Animez toutes vos soirées avec votre Val préféré !</p>
</div>
<div class="container my-5">
  <h2 class="text-center my-5">Les vals qui ont grave la côte en ce moment !</h2>
  <div class="row my-3">
    <% @valentins.each do |valentin| %>
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="card-val shadow text-center">
          <h3><%= valentin.name %></h3>
          <p><%= valentin.short_description %></p>
          <p class="card-val--price"><%= valentin.price %>€</p>
          <%= link_to "Découvrir", valentin_path(valentin), class: "btn-val btn-val--primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
