.btn-val {
  &,
    &:link,
    &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.5rem 2.5rem;
        display: inline-block;
        border-radius: $border-radius;
        transition: all .2s;
        position: relative;
        font-size: $font-size-base;
        font-weight: 700;
    }

    &:hover {
        transform: translateY(-3px);
        box-shadow: 0 0 5px rgba(0,0,0,.2);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }

    &:active,
    &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0,0,0,.2);
    }

    &--primary {
      background-color: $color-cta;
      color: $color-white !important;

      &::after {
          background-color: $color-cta;
      }
    }

    &--secondary {
      background-color: $color-white;
      color: $color-cta !important;
      border: 1px solid $color-cta;

      &::after {
          background-color: $color-white;
      }
  }

}

.btn-val--tertiary {

  &,
    &:link,
    &:visited {
    display: inline-block;
    text-decoration: none;
    color: $color-primary !important;
    transition: all .2s;
    position: relative;
    font-size: $font-size-base;
  }

  &::after {
    display:block;
    content: '';
    border-bottom: solid 2px $color-primary;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
  }

  &:hover::after {
    transform: scaleX(1);
  }
}

.btn-find-val {
  background-color: $color-primary;
  color: $color-white !important;
  border-radius: 5px;
}
