.card-val {
  border-radius: $border-radius;
  box-shadow: $box-shadow;

  &--img {
    width: 100%;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
    overflow: hidden;

  }

  &--content {
    padding: 2rem;

    h3 {
      font-size: 2.5rem;
    }
    &__price {
      font-weight: 700;
      font-size: 2rem;
      color: $color-primary;
      font-family: $headers-font;
    }

  }

}
