footer {
  width: 100%;
  margin-top: auto;
  background-color: $color-secondary;
  // background: linear-gradient(106deg, $color-primary 0%, $color-secondary 53%, $color-primary 100%);

  img {
    display: block;
    width: 150px;
    margin: 0 auto;
  }
}
