.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}

.logo-text {
  text-transform: uppercase;
  font-family: $headers-font;
  font-size: 2rem;
  color: $color-primary;
}
